;; -*- mode: emacs-lisp; lexical-binding:t; coding: utf-8-emacs; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Tue Dec 31 09:58:35 2024
;; Desktop file format version 208
;; Emacs version 29.4

;; Global section:
(setq desktop-saved-frameset nil)
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring nil)
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("~/.emacs.d/haoemacs/config/init-auto-save.el" "~/.emacs.d/haoemacs/config/init-code.el" "~/.emacs.d/haoemacs/config/init-theme.el" "~/.emacs.d/haoemacs/config/config.el" "~/websites/golosina/_posts/2024-05-15-archinstall.md" "~/lahet/oiau/某个午后若无所事" "~/lahet/oiau" "~/lahet/" "~/lahet/code/exercise1.scm" "~/lahet/code" "~/trash/add.scm" "~/.emacs.d/haoemacs/config/init-mode.el" "~/.emacs.d/haoemacs/config/init-generic.el" "~/trash/1.c" "~/trash/2.c" "~/trash/3.cpp" "~/.emacs.d/haoemacs/config/init-cursor-chg.el" "~/.emacs.d/haoemacs/config/init-font.el"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 208
  "/home/mi/.emacs.d/haoemacs/config/init-auto-save.el"
  "init-auto-save.el"
  'emacs-lisp-mode
  '(font-lock-mode eldoc-mode subword-mode ws-butler-mode display-line-numbers-mode company-mode)
  33
  '(113 nil)
  nil
  nil
  '((buffer-display-time 26483 20424 887380 341000) (buffer-file-coding-system . prefer-utf-8-unix))
  '((mark-ring (56 34 46 56 87 113 113 46 56 113 87 33))))

(desktop-create-buffer 208
  "/home/mi/.emacs.d/haoemacs/config/config.el"
  "config.el"
  'emacs-lisp-mode
  '(display-line-numbers-mode company-mode ws-butler-mode subword-mode eldoc-mode font-lock-mode)
  878
  '(1026 nil)
  nil
  nil
  '((buffer-display-time 26483 20256 280173 873000) (buffer-file-coding-system . utf-8-unix))
  '((mark-ring (1139 420 403 406 1376 1139 1140 1140 1140 1140 647 1140 1551 1518 1551 747 1416 318 278 420 420 389 542 406 443 403 418 420 420 443 443 420 721 673 721 747 813 1139))))

(desktop-create-buffer 208
  "/home/mi/.emacs.d/haoemacs/config/init-theme.el"
  "init-theme.el"
  'emacs-lisp-mode
  '(display-line-numbers-mode company-mode ws-butler-mode subword-mode eldoc-mode font-lock-mode)
  657
  '(58 nil)
  nil
  nil
  '((buffer-display-time 26483 20230 986408 632000) (buffer-file-coding-system . utf-8-unix))
  '((mark-ring (26 1 233 86 26 83 128 58 58 58 1 142 84 84 835 723 578 829 870 182 234 234 26 26 234 233 235 260 193 233 260 394 399 530 576))))

(desktop-create-buffer 208
  "/home/mi/.emacs.d/haoemacs/config/init-font.el"
  "init-font.el"
  'emacs-lisp-mode
  '(display-line-numbers-mode company-mode ws-butler-mode subword-mode eldoc-mode font-lock-mode)
  594
  '(621 nil)
  nil
  nil
  '((buffer-display-time 26483 20072 156481 639000) (buffer-file-coding-system . utf-8-unix))
  '((mark-ring (635 1 150 197 581 1052 1071 1210 1141 621))))

(desktop-create-buffer 208
  "/home/mi/.emacs.d/haoemacs/config/init-code.el"
  "init-code.el"
  'emacs-lisp-mode
  '(font-lock-mode eldoc-mode subword-mode ws-butler-mode company-mode display-line-numbers-mode)
  865
  '(825 nil)
  nil
  nil
  '((buffer-display-time 26483 20032 239110 602000) (buffer-file-coding-system . utf-8-unix))
  '((mark-ring (792 364 365 364 598 639 597 597 597 597 597 597 597 639 597 542 639 659 765 888 888 888 888 888 765 248 792 765 755 792 329 85 79 1 778 354 765 363 765 659 363 365 365 531 719 720 452 476 530 865 789 283 363 322 364 363 399 460 505 449 531 530 610 789))))

(desktop-create-buffer 208
  "/home/mi/websites/golosina/_posts/2024-05-15-archinstall.md"
  "2024-05-15-archinstall.md"
  'markdown-mode
  '(font-lock-mode eldoc-mode subword-mode visual-line-mode olivetti-mode display-line-numbers-mode)
  1072
  '(nil nil)
  nil
  nil
  '((tab-width . 4) (buffer-display-time 26483 19724 298400 915000) (buffer-file-coding-system . utf-8-unix) (truncate-lines))
  '((mark-ring nil)))

(desktop-create-buffer 208
  "/home/mi/lahet/code/exercise1.scm"
  "exercise1.scm"
  'scheme-mode
  '(rime-mode font-lock-mode subword-mode ws-butler-mode company-mode)
  993
  '(598 nil)
  nil
  nil
  '((buffer-display-time 26483 19609 884626 403000) (buffer-file-coding-system . utf-8-unix))
  '((mark-ring (993 993 822 821 993 516 552 585 597 584 498 323 323 137 552 584 516 516 516 598 597 516 724 732 993 821 993 993 993))))

(desktop-create-buffer 208
  nil
  "oiau"
  'dired-mode
  '(ws-butler-mode subword-mode font-lock-mode)
  107
  '(nil nil)
  t
  '("/home/mi/lahet/oiau/")
  '((buffer-display-time 26483 19503 80796 873000))
  '((mark-ring nil)))

(desktop-create-buffer 208
  "/home/mi/lahet/oiau/某个午后若无所事"
  "某个午后若无所事"
  'fundamental-mode
  '(ws-butler-mode subword-mode font-lock-mode rime-mode)
  280
  '(nil nil)
  nil
  nil
  '((buffer-display-time 26483 19499 492252 876000) (buffer-file-coding-system . utf-8-unix))
  '((mark-ring nil)))

(desktop-create-buffer 208
  nil
  "lahet"
  'dired-mode
  '(font-lock-mode subword-mode ws-butler-mode)
  144
  '(nil nil)
  t
  '("/home/mi/lahet/")
  '((buffer-display-time 26483 18688 39201 597000))
  '((mark-ring nil)))

(desktop-create-buffer 208
  nil
  "code"
  'dired-mode
  '(font-lock-mode subword-mode ws-butler-mode)
  107
  '(nil nil)
  t
  '("/home/mi/lahet/code/")
  '((buffer-display-time 26483 13454 872385 802000))
  '((mark-ring nil)))

(desktop-create-buffer 208
  "/home/mi/.emacs.d/haoemacs/config/init-mode.el"
  "init-mode.el"
  'emacs-lisp-mode
  '(font-lock-mode eldoc-mode subword-mode ws-butler-mode company-mode display-line-numbers-mode)
  110
  '(1501 nil)
  nil
  nil
  '((buffer-display-time 26483 8413 841505 861000) (buffer-file-coding-system . utf-8-unix))
  '((mark-ring (2018 2065 4157 4157 4116 763))))

(desktop-create-buffer 208
  "/home/mi/.emacs.d/haoemacs/config/init-generic.el"
  "init-generic.el"
  'emacs-lisp-mode
  '(font-lock-mode eldoc-mode subword-mode ws-butler-mode display-line-numbers-mode company-mode)
  108
  '(108 nil)
  nil
  nil
  '((buffer-display-time 26483 4704 458110 744000) (buffer-file-coding-system . utf-8-unix))
  '((mark-ring nil)))

(desktop-create-buffer 208
  "/usr/local/share/emacs/29.4/lisp/progmodes/cc-mode.el.gz"
  "cc-mode.el.gz"
  'emacs-lisp-mode
  '(font-lock-mode eldoc-mode subword-mode ws-butler-mode company-mode display-line-numbers-mode)
  113516
  '(nil nil)
  t
  nil
  '((tab-width . 8) (indent-tabs-mode . t) (buffer-display-time 26483 2083 896894 238000) (buffer-file-coding-system . prefer-utf-8-unix))
  '((mark-ring nil)))

(desktop-create-buffer 208
  "/home/mi/.emacs.d/haoemacs/config/init-cursor-chg.el"
  "init-cursor-chg.el"
  'emacs-lisp-mode
  '(rime-mode display-line-numbers-mode company-mode ws-butler-mode subword-mode eldoc-mode font-lock-mode)
  92
  '(92 nil)
  nil
  nil
  '((buffer-display-time 26483 1394 604230 508000) (buffer-file-coding-system . utf-8-unix))
  '((mark-ring nil)))

